/*.container{

	position:relative;
	 width:500px;
	 height: 700px;
	 left:30%;
	 top:150px;
}*/
body{
	background-image: url("/img/swing1.gif");
	background-repeat: no-repeat;;
	/*text-align: center;*/
	font-family: 'Bungee Shade', cursive;
	font-weight: bold;
}