html{
  position: relative;
  min-height:100%;
}

body { 
  background: url("/img/French.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color:white;
  margin-bottom:60px;
}

.jumbotron{
    color:black;
    background-color: rgba(204,204,204,.5);

}

form{
    color:black;
    background-color: rgba(204,204,204,.5);
    text-align: left;

}

.col-xs-4{
    background-color: rgba(204,204,204,.5);
    padding-top:10px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height:20px;
}